@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400&family=Poppins:wght@200&family=Roboto+Mono:wght@300&family=Roboto:wght@300&display=swap');

:root{
    --bgColor: #333;
    --textPrimary: #fff;
    --textSecondary: #666;
    --PrimaryColor: #fd4;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--bgColor);
    color: var(--textPrimary);
}

main{
    width: 600px;
    margin: 50px auto;
}

h1{
    color: var(--PrimaryColor);
}


h1 svg {
    width: 40px;
    fill: var(--PrimaryColor);
}